<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".Thyrocare"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="Login "
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Registration"
            android:label="Registration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserProfile"
            android:label="Profile"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2124af7c555086c97b6f10eda37e68a5799c048d" />

        <activity
            android:name=".activity.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Home"
            android:label="Thyrocare"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CreateTestScreen"
            android:label="Test Form info"
            android:parentActivityName=".activity.Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HistoryScreen"
            android:label="History"
            android:parentActivityName=".activity.Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdminPannel"
            android:label="New Test "
            android:parentActivityName=".activity.Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Checkout"
            android:label="Checkout"
            android:parentActivityName=".activity.CreateTestScreen"
            android:screenOrientation="portrait" />

        <receiver android:name=".MyBroadcastReceiver" />

        <activity
            android:name=".activity.TestDetailActivity"
            android:label="Test Detail"
            android:parentActivityName=".activity.HistoryScreen" />
        <activity android:name=".activity.ForgetPassword" />
        <activity android:name=".activity.ChangePassword"></activity>
    </application>

</manifest>