<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo">
   <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".Thyrocare"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.Registration" />
        <activity android:name=".activity.UserProfile" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2124af7c555086c97b6f10eda37e68a5799c048d" />

        <activity android:name=".activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Home"
            android:label="Thyrocare" />
        <activity
            android:name=".activity.CreateTestScreen"
            android:label="Test Form info" />
        <activity
            android:name=".activity.HistoryScreen"
            android:label="History" />
        <activity
            android:name=".activity.AdminPannel"
            android:label="New Test " />
        <activity android:name=".activity.Checkout" android:label="Checkout"/>
        <receiver android:name=".MyBroadcastReceiver"/>
    </application>

</manifest>